<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Kunde bearbeiten</div>

    <div class="controls-group">
        <!-- ID input-->
        <div class="controls">
            <input id="id" name="textinput" type="text" placeholder="ID" class="input-xlarge">
        </div>

        <!-- Vorname input-->
        <div class="controls">
            <input id="vorname" name="textinput" type="text" placeholder="Vorname" class="input-xlarge">
        </div>

        <!-- Nachname input-->
        <div class="controls">
            <input id="nachname" name="textinput" type="text" placeholder="Nachname" class="input-xlarge">
        </div>

        <!-- EMail input-->
        <div class="controls">
            <input id="email" name="textinput" type="text" placeholder="EMail" class="input-xlarge">
        </div>
        </br>
        <!-- Button -->
        <div>
            <div class="controls">
                <button id="updateButton" name="singlebutton" class="btn btn-primary" ng-click="kundenCtrl.updateUser(id,vorname,nachname,email)">bearbeiten</button>
            </div>
            <div class="controls">
                <button id="addButton" name="singlebutton" class="btn btn-primary" ng-click="kundenCtrl.addUser()">hinzufügen</button>
            </div>
        </div>
    </div>
</div>

{{kundenCtrl.getUserId(301);}}