<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <!-- Reine Navigationsleiste -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
            <!-- Klick auf Button leitet zu href -->
            <a class="navbar-pic" href="#/">
                <img alt="Brand" src="images/ic_launcher_old.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!-- Warenkorb-->

            <ul class="nav navbar-nav navbar-right" ng-controller="artikelVerwCtrl as artikelCtrl">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" ng-click="artikelCtrl.getWarenkorb();artikelCtrl.getGesamtpreis()">Warenkorb <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Bezeichnung</th>
                                <th>Preis</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat = "artikel in artikelCtrl.list">
                                <td>{{artikel.bezeichnung}}</td>
                                <td>{{artikel.preis}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <li class="divider"></li>
                        <p><b>&nbsp; Gesamtpreis: </b> {{artikelCtrl.gesamtpreis}}</p>
                    </ul>
                </li>
            </ul>

            <!-- Mein Konto DropDown-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mein Konto <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Mein Profil</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Meine Bestellungen</a></li>
                        <li class="divider"></li>
                        <li><a href="#/meinKonto/login">Login</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Artikel -->
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#/artikel">Artikel</a></li>
            </ul>

            <!-- Kunden -->
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#/kunden">Kunden</a></li>
            </ul>

            <!--&lt;!&ndash;Searchbar use ng-model&ndash;&gt;-->
            <!--<form class="navbar-form navbar-left" role="search">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Suche" ng-model="filter.id">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default" ng-click="kundenCtrl.showKunden">Suchen</button>-->
            <!--</form>-->

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
